.fa-compass{
    color: rgb(246, 72, 72);
    font-size: 2rem;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    margin: 0px;
}

.nav-link{
    color: black !important;
}


.small{
display: flex;
gap: 15px;
font-size: 15px;

}


.big{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(210, 209, 209);
padding: 10px;

}

.card{

border: none !important;
border-radius: 1px !important;


}

.card-img-top{
    border-radius: 1rem !important;
}

.card-img-overlay:hover{
background-color: white;
opacity: 0.15;

}

.btn-primary{
    background-color: #fe424d !important;
    border: none !important;
}

.show-btn{
    background-color: #fe424d !important;
    border: none !important;
    border-radius: 5px;
    height: 35px;
    width: 55px;

}