<% layout("/layouts/boilerplate") %>
<%if(name.length){%>
    <div class="alert alert-success  alert-dismissible fade show col-6 offset-3" role="alert"  > <%= name %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
    <%}%>


<body>
    <h1 class="col-8 offset-3">Login user</h1>
    <br><br>
    <form   class="col-8 offset-3" method="post" action="/login">
     <label for="username">Username: </label>
    <input type="text" name="username">
   <br><br>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password">
   <br> <br>
   <button type="submit">Login</button>
   


    </form>





</body>